.marcador{
    background: #fe9d9d;
    border: 1px solid #f94646;
}
.marcador-container{
    background: grey;
    border: 1px solid black;

}

.registro{
    font-size: 13px;
}

footer{
    border-top: 2px solid black;
    height: 5px;
    padding: 10px;
}

.card{
    margin: 100px;
    width: 18rem;
}