
/*______________________FORMATAÇÃO DA PAGINA__________________________________*/

body{
    background: url(../imagens/engre.jpg);
    background-attachment: fixed;
}

html, body, #home{
  height: 100%;  
} 

/*_______________________EDIÇÃO DE TEXTO_________________________________*/

.info h1{

    color: black;
    letter-spacing: -0.05em;
    font-weight: 900;
    font-size: 3em;
}

.info p{

    font-size: 1em;
    margin-left: 5px;
    margin-right: 5px;
}

/*_______________________EDIÇÃO DO RODAPE_________________________________*/

footer {
    background: black;
    padding: 50px 0px 20px 0px;
    text-align: center;
    }

h4{
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

i{
    font-size: 2em;
    margin-left: 6px;
    color: #666666;
}


/*_______________________EDIÇÃO DA ENTRADA_________________________________*/

.capa{
    text-align: center;
}

h1{
    font-weight: 900px;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

/*_______________________EDIÇÃO DOS BOTÕES_________________________________*/

.btn-custom{
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s color 0.4s; 
    padding: 10px 15px;
}

.btn-grey{
    background: #666666;
}

.btn-grey:hover{
    background: black;
    color: #f7f4f4;
}

/*_______________________CONTEUDO DE SERVIÇOS_________________________________*/

.serviços{
    background: white;
    width: 100%;
    padding: 10px 5px 5px 10px;
}

    