.marcador{
    background: #fe9d9d;
    border: 1px solid #f94646;
}
.marcador-container{
    background: grey;
    border: 1px solid black;

}

.registro{
    font-size: 13px;
}

.col-md-6{
    border: solid 1px black;
}

footer{
    height: 5px;
    padding: 10px;
}